body
  background: $white
  font-family: 'Bree Serif'
  height: 100vh

p
  margin: 0

.alert
  width: 100%
  text-align: center
  background: transparentize($red, .3)
  color: $black
  //text-transform: uppercase
  font:
    family: 'Satisfy'
    weight: 700
    size: 24px
  z-index: 999
  position: absolute
  top: 0
  padding: 28px 0
  box-shadow: 0px 0px 2px 3px transparentize($red, .3)
