// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome
  background: $dark-greyblue
  height: 500px
  width: 100vw
